*/.ipynb_checkpoints/
.ipynb_checkpoints/
*/.DS_Store
.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
input/SST
input
*/*.mod
*/*.o
dev/
*Untitled*
scripts/save/
code/
*ipynb*
output/
!output/*/rad_profiles.nc
*.nc
